#about {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: #F9F5EC;
  }
  
  .about-container {
    display: flex;
    width: 100%;
    height: 100%;
    
  }
  
  .about-image {
    flex: 1;
  }
  
  .about-image img {
    width: 100%;
    height: 95%;
    object-fit: contain; 
    display: block; 
  }
  
  .about-text {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
   
    text-align: left;
   
  }
  .header {
    font-size: 3rem; 
    font-weight: bold; 
    margin-bottom: 20px; 
  
}
 /* Initial state: elements are hidden and moved further down */
.about-text, .about-image {
  opacity: 0;
  transform: translateY(50px);  /* Start elements further down */
  transition: opacity 1s ease, transform 1s ease;  /* Smooth transition for opacity and transform */
}

/* When the element has the 'animate' class, apply the fade-in animation */
.about-text.animate, .about-image.animate {
  opacity: 1;
  transform: translateY(0);  /* Animate to original position */
}

/* Staggered animation delays */
.about-text {
  transition-delay: 0.3s;  /* Delay for text */
}

.about-image {
  transition-delay: 0.6s;  /* Delay for image */
}
